@font-face {
    font-family: 'Source_Sans_Pro_BoldItalic';
    src: url('fonts/SourceSansPro-SemiBoldItalic.ttf');
}

@font-face {
    font-family: 'Source_Sans_Pro_light';
    src: url('fonts/SourceSansPro-Light.ttf');
}

@font-face {
    font-family: 'Source_Sans_Pro_refular';
    src: url('fonts/SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: 'Source_Sans_Pro_extraLight';
    src: url('fonts/SourceSansPro-ExtraLight.ttf');
}
@font-face {
    font-family: 'Source_Sans_Pro_extraLightItalic';
    src: url('fonts/SourceSansPro-ExtraLightItalic.ttf');
}

body
{
  font-family: Source_Sans_Pro_light;
  margin: 0px;
  width: auto;
}

header
{
  text-align: center;
  background-color: black;
  color: white;
  padding: 10% 0px;
  margin-top: 70px;
}

#headerLanding
{
  text-align: center;
  /* background-color: black; */
  background-image: url("images/425px_header.jpg");
  color: white;
  padding: 10% 0px;
  margin-top: 70px;
}

section
{
  padding: 0px 5%;
}

ol
{
  list-style-position: inside;
  padding: 0px;
}

ul
{
  list-style-position: inside;
  padding: 0px;
}

h1
{
  color: white;
  text-align: center;
}

h2
{
  color: #f39614;
  text-align: center;
}

h3
{
  color: #f39614;
  text-align: center;
}

input
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

textarea
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

img
{
  max-width: 100%;
  height: auto;
}

a
{
  color: #f39614;
  text-decoration: none;
}

a:hover
{
  color: black;
  background-color: #f39614;
}

footer
{
  margin-top: 80px;
  margin-bottom: 80px;
  width: 100%;
  height: auto;
  color: black;
  text-align: center;
  box-shadow: 0px -3px 7px -7px rgba(0,0,0,0.75);
}

label
{
  font-family:Source_Sans_Pro_refular;
}

strong
{
  font-family:Source_Sans_Pro_refular;
}

i
{
  font-family:Source_Sans_Pro_extraLightItalic;
}

.boldItalic
{
  font-family:Source_Sans_Pro_BoldItalic;
  color: #f39614;
}

#navTop
{
  /* display: none; */
  background-color: white;
  height: 70px;
  width: 100%;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
  z-index: 1;
  position: fixed;
  top: 0px;
}

#navFooter
{
  /* display: none; */
  background-color: #f39614;
  height: 70px;
  width: 100%;
  box-shadow: 0px -1px 3px 0px rgba(0,0,0,0.5);
  z-index: 1;
  position: fixed;
  bottom: 0px;
}

nav ul
{
  display: flex;
  justify-content: space-around;
  list-style: none;
  height: auto;
  padding: 0px;
  margin: 10px;
}

.navItem
{
  width: 50px;
}

#recipe_header
{
  padding: 0px!important;
  height: 400px;
  display: flex;
  justify-content: space-around;
}

#recipe_cook
{
  text-align: center;
  margin-top: -40px;
}

.profilPicture
{
  border-radius: 100%;
}

.button
{
  display: inline-block;
  width: 100%;
  background-color: #3491b2;
  border-radius: 3px;
  border-bottom: 3px solid #3B89B3;
  color: white;
  font-size: 1em;
  text-decoration: none;
}

.button:hover
{
  display: inline-block;
  width: auto;
  background-color: white;
  border-radius: 3px;
  border-bottom: 3px solid #3491b2;
  color: #3B89B3;
  font-size: 1em;
  text-decoration: none;
  width: 100%;
}

.conteneuConnexion
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 0px;
}

.conteneur
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 0px;
}

.element
{
  margin: 5px 0px;
}

.colorMain
{
  color: #f39614;
}

/* HIDE RADIO */
.hiddenradio [type=radio] {
  position: absolute;
  opacity: 0.5;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
.hiddenradio [type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
.hiddenradio [type=radio]:checked + img {
  outline: 1px solid #f39614;
}

@media screen and (min-width: 425px)
{
    .element
    {
      margin: 5px 5px!important;
    }

    #headerLanding
    {
      text-align: center;
      /* background-color: black; */
      background-image: url("images/425px_header.jpg");
      color: white;
      padding: 10% 0px;
      margin-top: 70px;
    }
}

@media screen and (min-width: 768px)
{
    .element
    {
      margin: 5px 5px!important;
    }

    #headerLanding
    {
      text-align: center;
      /* background-color: black; */
      background-image: url("images/425px_header.jpg");
      color: white;
      padding: 10% 0px;
      margin-top: 70px;
    }
}

@media screen and (min-width: 1024px)
{
    .element
    {
      margin: 5px 5px!important;
    }

    #headerLanding
    {
      text-align: center;
      /* background-color: black; */
      background-image: url("images/425px_header.jpg");
      color: white;
      padding: 10% 0px;
      margin-top: 70px;
    }
}
@media screen and (min-width: 1440px)
{
    .element
    {
      margin: 5px 5px!important;
    }

    #headerLanding
    {
      text-align: center;
      /* background-color: black; */
      background-image: url("images/425px_header.jpg");
      color: white;
      padding: 10% 0px;
      margin-top: 70px;
    }
}
@media screen and (min-width: 2560px)
{
    .element
    {
      margin: 5px 5px!important;
    }

    #headerLanding
    {
      text-align: center;
      /* background-color: black; */
      background-image: url("images/425px_header.jpg");
      color: white;
      padding: 10% 0px;
      margin-top: 70px;
    }
}
